
.gallery {
    display: grid;
    grid-template-rows: auto;

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

.picture {
    display: inline-block;
}

.loading {
    font-size: 24pt;
    color: #c70c96;
    font-weight: bold;
}